.forecast__today {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 64px;
  font-size: 20px;
}

.content__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.content__info--title {
  font-size: 24px;
  font-weight: 700;
}

.content__temp {
  font-size: 112px;
  font-weight: 700;
  text-align: center;
}

.content__weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}