@font-face {
  font-family: "sus";
  src: url("./fonts/SuisseIntl-Book.otf");
}

* {
  font-family: "sus";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

#root {
  padding: 32px 15px;
  background: url("./imgs/back.png") no-repeat;
  background-size: cover;
  background-position: center;
}

input {
  outline: 0;
  border: 0;
  display: block;
  width: 100%;
}

.main {
  max-width: 1120px;
  margin: 0 auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: rgb(112, 112, 112, 0.6);
  border-radius: 8px;
  height: 98%;
}

.main::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  filter: blur(100px);
}

@media (max-width:600px) {
  .main {
    gap: 32px;
  }
}