.forecast__week--item {
  background-color: rgb(245, 244, 244, 0.4);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}